<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :quiz_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, id: :quiz_author, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question1 %>
    <%= form.text_area :question1, id: :quiz_question1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question1answer %>
    <%= form.text_area :question1answer, id: :quiz_question1answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question2 %>
    <%= form.text_area :question2, id: :quiz_question2, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question2answer %>
    <%= form.text_area :question2answer, id: :quiz_question2answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question3 %>
    <%= form.text_area :question3, id: :quiz_question3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question3answer %>
    <%= form.text_area :question3answer, id: :quiz_question3answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question4 %>
    <%= form.text_area :question4, id: :quiz_question4, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question4answer %>
    <%= form.text_area :question4answer, id: :quiz_question4answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question5 %>
    <%= form.text_area :question5, id: :quiz_question5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question5answer %>
    <%= form.text_area :question5answer, id: :quiz_question5answer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question6 %>
    <%= form.text_area :question6, id: :quiz_question6, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question6answer %>
    <%= form.text_area :question6answer, id: :quiz_question6answer, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
