<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quiz.author %>
</p>

<p>
  <strong>Question1:</strong>
  <%= @quiz.question1 %>
</p>

<p>
  <strong>Question1answer:</strong>
  <%= @quiz.question1answer %>
</p>

<p>
  <strong>Question2:</strong>
  <%= @quiz.question2 %>
</p>

<p>
  <strong>Question2answer:</strong>
  <%= @quiz.question2answer %>
</p>

<p>
  <strong>Question3:</strong>
  <%= @quiz.question3 %>
</p>

<p>
  <strong>Question3answer:</strong>
  <%= @quiz.question3answer %>
</p>

<p>
  <strong>Question4:</strong>
  <%= @quiz.question4 %>
</p>

<p>
  <strong>Question4answer:</strong>
  <%= @quiz.question4answer %>
</p>

<p>
  <strong>Question5:</strong>
  <%= @quiz.question5 %>
</p>

<p>
  <strong>Question5answer:</strong>
  <%= @quiz.question5answer %>
</p>

<p>
  <strong>Question6:</strong>
  <%= @quiz.question6 %>
</p>

<p>
  <strong>Question6answer:</strong>
  <%= @quiz.question6answer %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
